<section class="sobre"> 
<div class="gif"><h1>Peg Turismo</h1></div>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis iste dolore nisi, veritatis labore deleniti saepe accusantium. Accusantium quis voluptas tenetur explicabo, earum cum quo repellendus id incidunt veniam natus!</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam sint laudantium a voluptatum, voluptate exercitationem quisquam. Quaerat doloribus nulla ipsam quis enim magni earum quod eum. Distinctio cumque rem nemo?</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste odio dolor unde repellendus, recusandae ullam eius officia cum reprehenderit. Numquam sunt neque in sit, laborum natus quasi hic voluptas necessitatibus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias modi totam, voluptatum facere est, recusandae repudiandae vero placeat eos maxime natus voluptate nihil debitis eum ipsum, cum nam error. Ipsum.</p>


</section>