<footer>
    <h4>Sobre nós</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed iaculis interdum pretium.<br> Nulla non purus in tellus molestie euismod sit amet ac leo. </p>
    <div class="icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
    <p>Feito para o aprendizado <i class="fas fa-book"></i></p>
</footer>

<script>
    var navLinks = document.getElementById("navLinks");
    function showMenu(){
        navLinks.style.right = "0";
    }
    function hideMenu(){
        navLinks.style.right = "-200px";
    }
</script>