<header class="header">
    <nav>
        <a href="index.html"><img src="resources\View\Pages\Images\peg.png" alt=""></a>
        <div class="nav-links" id="navLinks">
            <i class="fas fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="{{URL}}">HOME</a></li>
                <li><a href="{{URL}}/sobre">SOBRE</a></li>
                <li><a href="{{URL}}/destinos">DESTINOS</a></li>
                <li><a href="{{URL}}/contato">CONTATOS</a></li>
            </ul>
        </div>
        <i class="fas fa-bars" onclick="showMenu()"></i>
    </nav>

    <div class="text-box">
        <h1>Viage com quem entende</h1>
        <p>Há mais de 4 anos no mercado fazendo turismo com responsabilidade,
        oferecendo todo suporte para melhor <br>experiencia em sua viagem.</p>
    </div>
</header>

