<section class="destinos">
    <h1>Destinos</h1>
    <p>Escolha aonde passar suas férias</p>

    <div class="row">
        <div class="destino-col">
            <img src="resources\View\Pages\Images\arraial-do-cabo-capa2019.jpg" alt="">
            <div class="layer">
                <h3>Arraial do Cabo</h3>
            </div>
        </div>
        <div class="destino-col">
            <img src="resources\View\Pages\Images\Grande_lago_de_Furnas_01.jpg" alt="">
            <div class="layer">
                <h3>Lago de Furnas</h3>
            </div>
        </div>
        <div class="destino-col">
            <img src="resources\View\Pages\Images\praia-da-pacuiba-ilhabela-home.jpg" alt="">
            <div class="layer">
                <h3>Ilha Bela</h3>
            </div>
        </div>

    </div>
</section>