
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="resources\View\Pages\styles\css\all.css">
    
    <link rel="preconnect" href="/https://fonts.googleapis.com">
    <link rel="preconnect" href="/https://fonts.gstatic.com" crossorigin>
    <link href="/https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />
    <!-- <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="resources\View\Pages\js\jquery.js"></script> 
    <script src="resources\View\Pages\js\bootstrap.min.js"></script>
    <script src="resources\View\Pages\js\bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="resources\View\Pages\styles\css\bootstrap-select.min.css">
    <link rel="stylesheet" href="resources\View\Pages\styles\css\bootstrap.min.css">
    <link rel="stylesheet" href="resources\View\Pages\styles\style.css">
    <script src="resources\View\Pages\js\jquery.mask.js"></script>
    <script type="text/javascript" src="http://www.datejs.com/build/date.js"></script>
    

<body>
    {{header}}

    
    {{content}}
   
    {{footer}}

    <script>
        $("#celular").mask("(00) 00000-0000");
        $("#cpf").mask("000.000.000-00");
        var navLinks = document.getElementById("navLinks");
        function showMenu(){
            navLinks.style.right = "0";
        };
        function hideMenu(){
            navLinks.style.right = "-200px";
        };
        
    </script>
    
</body>
</html>